#sidebar { max-width: none !important; min-width: none !important; }

#feedbar-button {
	list-style-image: url(chrome://feedbar/skin/icons/icon-states.png);
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}

#feedbar-button:hover:active, #feedbar-button:hover {
	-moz-image-region: rect(48px, 24px, 72px, 0px);
}

#feedbar-button[new="true"] {
	-moz-image-region: rect(24px, 24px, 48px, 0px);
}

#feedbar-button[new="true"]:hover:active, #feedbar-button[new="true"]:hover {
	-moz-image-region: rect(72px, 24px, 96px, 0px);
}

#feedbar-button[checked="true"] {
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}

#feedbar-button[checked="true"]:hover:active, #feedbar-button[checked="true"]:hover {
	-moz-image-region: rect(48px, 24px, 72px, 0px);
}

toolbar[iconsize="small"] #feedbar-button {
	list-style-image: url(chrome://feedbar/skin/icons/icon-states-small.png);
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

toolbar[iconsize="small"] #feedbar-button:hover:active, toolbar[iconsize="small"] #feedbar-button:hover {
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}

toolbar[iconsize="small"] #feedbar-button[new="true"] {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}

toolbar[iconsize="small"] #feedbar-button[new="true"]:hover:active, toolbar[iconsize="small"] #feedbar-button[new="true"]:hover {
	-moz-image-region: rect(48px, 16px, 64px, 0px);
}

toolbar[iconsize="small"] #feedbar-button[checked="true"] {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

toolbar[iconsize="small"] #feedbar-button[checked="true"]:hover:active, toolbar[iconsize="small"] #feedbar-button[checked="true"]:hover {
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}