#feedbar-statusbar {
	border-top: 1px solid #a3a3a3;
}

#feedbar-preview {
	padding-top: 5px;
	background-color: #ebebeb;
}

#feedbar-preview groupbox {
	background-color: #fff;
}

#preview-splitter { 
	background-color: #ebebeb;
}

#feedbarTooltipImage {
	vertical-align: middle;
	margin: 0ex 1ex 0ex 1ex;
}

#feedbarTooltipFeedName {
	font-weight: bold;
}

#feedbarTooltipName {
	text-decoration: underline;
}

treechildren::-moz-tree-cell-text(visited) {
	color: #aaa;
}

treechildren::-moz-tree-image {
	width: 16px;
	height: 16px;
}

treechildren::-moz-tree-row(selected), treechildren::-moz-tree-cell(selected) {
	background-color: Highlight;
	color: HighlightText;
}

#search-toggle {
	padding-top: 3px;
	padding-left: 12px;
	list-style-image: url(chrome://feedbar/skin/icons/search.png);
}
