#feedbar-preview {
	padding-top: 5px;
	background-color: #fff;
}

#feedbarTooltipImage {
	vertical-align: middle;
	margin: 0ex 1ex 0ex 1ex;
}

#feedbarTooltipFeedName {
	font-weight: bold;
}

#feedbarTooltipName {
	text-decoration: underline;
}

treechildren::-moz-tree-cell-text(visited) {
	color: #aaa;
}

treechildren::-moz-tree-image {
	width: 16px;
	height: 16px;
}

treechildren::-moz-tree-row(selected), treechildren::-moz-tree-cell(selected) {
	background-color: Highlight;
	color: HighlightText;
}

#search-toggle  {
	padding-top: 3px;
	padding-left: 8px;
	list-style-image: url(chrome://feedbar/content/skin-common/search.png);
}

#search-toggle[checked="true"] {
	padding-left: 8px !important;
}

#history-button dropmarker {
	padding-left: 4px;
}

#new-window-button, #cut-button, #history-button, #stop-button {
	margin-top: 1px !important;
	padding-right: 8px;
}

#history-button {
	margin-top: 0px !important;
}

#reload-button {
	margin-top: 0px !important;
}


#downloads-button dropmarker {
	display: none;
}