#sidebar { max-width: none !important; }

#feedbar-button {
	list-style-image: url(chrome://feedbar/skin/icons/feed-icon-default-18.png);
}

#feedbar-button[new="true"] {
	list-style-image: url(chrome://feedbar/skin/icons/feed-icon-notify-18.png);
}

#feedbar-button[checked="true"] {
	list-style-image: url(chrome://feedbar/skin/icons/feed-icon-default-18.png);
}

#feedbar-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #feedbar-button {
	list-style-image: url(chrome://feedbar/skin/icons/feed-icon-notify-36.png);
}

@media (min-resolution: 2dppx) {
	#feedbar-button {
		list-style-image: url(chrome://feedbar/skin/icons/feed-icon-default-36.png);
	}
	
	#feedbar-button > .toolbarbutton-icon {
		width: 18px;
	}
	
	#feedbar-button[new="true"] {
		list-style-image: url(chrome://feedbar/skin/icons/feed-icon-notify-36.png);
	}
	
	#feedbar-button[checked="true"] {
		list-style-image: url(chrome://feedbar/skin/icons/feed-icon-default-36.png);
	}
	
	#feedbar-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #feedbar-button {
		list-style-image: url(chrome://feedbar/skin/icons/feed-icon-notify-64.png);
	}
}