#feedbar-preview {
	padding-top: 5px;
}
	
#feedbarTooltipImage {
	vertical-align: middle;
	margin: 0ex 1ex 0ex 1ex;
}

#feedbarTooltipFeedName {
	font-weight: bold;
}

#feedbarTooltipName {
	text-decoration: underline;
}

#feedbarTooltipSummaryGroupbox {
	padding: 2px;
}

treechildren::-moz-tree-image {
	width: 16px;
	height: 16px;
}

#feed-sidebar-panel, #feedbar_tree_container {
	-moz-appearance: none;
	background-color: transparent !important;
}

#feedbar-loading-text {
	background-color: ButtonFace;
	color: ButtonText;
	padding: 2px;
	margin: 0;
	border-top-right-radius: 2px;
	border-color:  ButtonShadow;
	border-width: 1px;
	max-width: 95%;
}

/* the loading-text box would still be visible when empty, and would cover the borders in windows classic at least */
#feedbar-loading-text[value=""],
#feedbar-loading-text:not([value]) {
	visibility: collapse;
}

#navigator-toolbox:after {
	display: none !important;
}
