statusbar resizer {
	display: none;
}

#feedbar-preview {
	padding-top: 5px;
	visibility: hidden;
	background-color: #fff;
}

#feedbarTooltipImage {
	vertical-align: middle;
	margin: 0ex 1ex 0ex 1ex;
}

#feedbarTooltipFeedName {
	font-weight: bold;
}

#feedbarTooltipName {
	text-decoration: underline;
}

caption {
	background-color: #ffffff !important;
}

treechildren::-moz-tree-cell-text(visited) {
	color: #aaa;
}

#search-toggle {
	margin-top: 3px;
	list-style-image: url(chrome://feedbar/skin/icons/search.png);
}