#feedbar-preview {
	padding-top: 5px;
	background-color: #f0f0f0;
}

#preview-splitter {
	border-top: 1px solid #919191;
	background-color: #f0f0f0;
}
	
#feedbarTooltipImage {
	vertical-align: middle;
	margin: 0ex 1ex 0ex 1ex;
}

#feedbarTooltipFeedName {
	font-weight: bold;
}

#feedbarTooltipName {
	text-decoration: underline;
}

treechildren::-moz-tree-image {
	width: 16px;
	height: 16px;
}

#feed_tree, #feedbar_tree_namecol, treechildren::-moz-tree-cell, treechildren::-moz-tree-row {
	background-color: #d4dde5;
	border-color: #d4dde5 !important;
}

treechildren::-moz-tree-cell-text(visited) {
	color: #888;
}

treechildren::-moz-tree-row(selected), treechildren::-moz-tree-cell(selected) {
	background-color: Highlight;
	color: HighlightText;
}

treechildren::-moz-tree-cell-text(visited,selected) {
	color: #ddd;
}

.close-icon .toolbarbutton-icon {
	width: 16px;
}

#feedbar-loading-text {
	background-color: ButtonFace;
	color: ButtonText;
	padding: 2px;
	margin: 0;
	border-top-right-radius: 2px;
	border-color:  ButtonShadow;
	border-width: 1px;
	max-width: 95%;
}