#sidebar { max-width: none !important; min-width: none !important; }

#feedbar-button {
	list-style-image: url(chrome://feedbar/skin/icons/icon-states.png);
	-moz-image-region: rect(0px, 36px, 23px, 0px);
}

#feedbar-button:hover:active {
	-moz-image-region: rect(46px, 36px, 69px, 0px);
}

#feedbar-button[new="true"] {
	-moz-image-region: rect(23px, 36px, 46px, 0px);
}

#feedbar-button[new="true"]:hover:active {
	-moz-image-region: rect(69px, 36px, 92px, 0px);
}

#feedbar-button[checked="true"] {
	background-color: transparent;
	-moz-image-region: rect(92px, 36px, 115px, 0px);
	border-color: transparent;
}

#feedbar-button[checked="true"]:hover:active {
	background-color: transparent;
	-moz-image-region: rect(115px, 36px, 138px, 0px);
}